.mainPage {
    background: url(https://i6.vgoroden.ru/6tamd3l8ffkqo_187p51m_w-1200.jpeg) no-repeat;
    background-size: 100%;
    max-width: 900px;
    padding: 30px;
    margin: -117px auto 10px;

}
