<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="css/gradient-button.css">
    <link rel="stylesheet" href="css/mainPage.css">
    <style>
        body {
            background: url(https://i6.vgoroden.ru/6tamd3l8ffkqo_187p51m_w-1200.jpeg) no-repeat;
            background-size: 100%;
            max-width: 900px;
            padding: 30px;
            margin: -117px auto 10px;
        }
    </style>



</head>
<body>

<p class align="center"><img src="https://static.tildacdn.com/tild6566-3530-4637-b965-316533653465/logo.svg" width="500" height="300"</p>

<div class="button-container">
<a href="/student" class="gradient-button">Для студентов</a>
<a href="/employee" class="gradient-button">Для сотрудников</a>
</div>
</body>
</html>