<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/marks.css">
</head>
<body>
<!-- Форма поиска по имени -->
<form th:action="@{/marks}" method="get">
    <input type="text" name="searchName" placeholder="Поиск по имени">
    <button type="submit">Искать</button>
</form>

<table class="marks">
    <thead>
    <tr>
        <th>Имя ученика</th>
        <th>Предмет</th>
        <th>Оценка</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${page.content}">
        <td><span th:text="${marks.participantStudying.name}"> Имя ученика</span></td>
        <td><span th:text="${marks.subject.subjectName}"> Предмет</span></td>
        <td><span th:text="${marks.comment}">Оценка</span></td>
    </tr>
    </tbody>
</table>
<div class="pagination-div">
    <div>
        Страница:

        <span th:if="${page.hasPrevious()}">
        <a th:href="@{/marks(page=${page.number-1},size=${page.size})}">Предыдущая</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/marks(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/marks(page=${page.number+1},size=${page.size})}">Следующая</a>
    </span>
    </div>
</div>
</br>
</body>
</html>