<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/button21.css">
</head>
<body>
<table class = "table">
    <thead>
    <tr>
        <th>Идентификатор</th>
        <th>ФИО</th>
        <th>Снилс или Кампусный номер</th>
        <th>Дата рождения(ДДММГГГГ)</th>
        <th>Факультет</th>
        <th>Электронная почта(e-mail)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${page.content}">
        <td><span th:text="${student.id}"> Идентификатор</span></td>
        <td><span th:text="${student.name}"> ФИО</span></td>
        <td><span th:text="${student.number}">Снилс или Кампусный номер</span></td>
        <td><span th:text="${student.birthDate}"> Дата рождения(ДДММГГГГ)</span></td>
        <td><span th:text="${student.faculty}"> Факультет</span></td>
        <td><span th:text="${student.mail}">Электронная почта(e-mail) </span></td>
        <td><a th:href="@{student/delete/__${student.id}__}" class="button21">Удалить</a>
    </tr>
    </tbody>
</table>
<div class="pagination-div">
    <div>
        Страница:

        <span th:if="${page.hasPrevious()}">
        <a th:href="@{/student(page=${page.number-1},size=${page.size})}">Предыдущая</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/student(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/student(page=${page.number+1},size=${page.size})}">Следующая</a>
    </span>
    </div>
</div>
</br>

<form name="student" action=/student/save method="post">
    <input title="name" required placeholder="ФИО" type="text" name="name">
    <input title="number" required placeholder="Снилс или Кампусный номер" type="text" name="number">
    <input title="birthDate" required placeholder="Дата рождения(ДДММГГГГ)" type="text" name="birthDate">
    <input title="faculty" required placeholder="Факультет" type="text" name="faculty">
    <input title="mail" required placeholder="Электронная почта(e-mail)" type="text" name="mail">
    <input type="submit" value="Добавить">
</form>
</br>
<a href="/student/send" class="button21"> Отправить</a>
</body>
</html>